django>=5.0.0
psycopg2-binary>=2.9.0
dj-database-url>=2.1.0
python-dotenv>=1.0.0
django-cors-headers>=4.3.0
pyjwt>=2.8.0
google-auth>=2.29.0
requests>=2.31.0
fastapi>=0.100.0
uvicorn>=0.20.0
sqlalchemy>=2.0.0
passlib[bcrypt]>=1.7.4
python-jose[cryptography]>=3.3.0
python-multipart>=0.0.6
instaloader>=4.15.0

beautifulsoup4>=4.15.0
lxml>=6.1.1
